<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyrj.jxzy.dao.Constractor.BigTextDao">
	
<!-- 查询照片数量 -->
	<select id="listBigText" parameterType="com.cyrj.jxzy.entity.Constractor.BigTextEntity" resultType="com.cyrj.jxzy.entity.Constractor.BigTextEntity">

			select * from PC_CBS_TEXT	where text_id=#{text_id} and type =#{type}
	</select>
	
	<!-- 插入数据 -->
 <insert id="insertBigText" parameterType="com.cyrj.jxzy.entity.Constractor.BigTextEntity">
	insert into
	PC_CBS_TEXT(
	text_id,
	OILFIELD,
    contract_id,
	contractor_name,
	team_qualification,
	type,
	text,
    DATETIME,
    TEAM_ID,
        CREATE_USER_ID
	)
	values(
	#{text_id,jdbcType=VARCHAR},
	#{oilfield,jdbcType=VARCHAR},
	#{contract_id,jdbcType=VARCHAR},
	#{contractor_name,jdbcType=VARCHAR},
	#{team_qualification,jdbcType=VARCHAR},
	#{type,jdbcType=VARCHAR},
	#{text,jdbcType=BLOB},
    sysdate,
       #{team_id,jdbcType=VARCHAR} ,
    #{create_user,jdbcType=VARCHAR}
	)
</insert>
<!-- 修改数据 -->
 <update id="updateBigText" parameterType="com.cyrj.jxzy.entity.Constractor.BigTextEntity">
	update PC_CBS_TEXT
    set text =#{text},
    datetime =sysdate     
    where text_id=#{text_id} and type =#{type} 
</update>
	<select id="bigTextShow" parameterType="com.cyrj.jxzy.entity.Constractor.BigTextEntity" resultType="com.cyrj.jxzy.entity.Constractor.BigTextEntity">

	select * from PC_CBS_TEXT
	where text_id=#{text_id} and type =#{type}
	</select>
</mapper>