<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyrj.jxzy.dao.Constractor.CommitmentViewDao">
<!-- 查询总页数 -->
<select id="count" parameterType="com.cyrj.jxzy.entity.Constractor.CommitmentViewEntity"    resultType="int">
   SELECT count(*) 
      FROM(
					SELECT
					PC_CBS_CONTRACT.CONTRACT_ID,
					PC_CBS_CONTRACT.CONTRACTOR_NAME,
					PC_CBS_CONTRACT.CONTRACTOR_ID,
					PC_CBS_CONTRACT.CONTRACT_NAME,
					PC_CBS_CONTRACT.CONTRACT_NUMBER,
					PC_CBS_CONTRACT.UNIT_NAME ,
					PC_CBS_CONTRACT.ENTRY_TIME 
					FROM PC_CBS_CONTRACT 
					WHERE PC_CBS_CONTRACT.oilfield=#{oilfield} and  AUDITTAB='2' and  to_char(PC_CBS_CONTRACT.EFFECTIVE_DATE,'yyyy') = #{effective_dates}
		        	<if test="attribute!=null   and attribute.length() &gt;0 and attribute==1">
						and PC_CBS_CONTRACT.CONTRACTOR_ID like #{search}||'%'
					</if> 
					<if test="attribute!=null   and attribute.length() &gt;0 and attribute==2">
						and PC_CBS_CONTRACT.UNIT_ID like #{search}||'%'
					</if> 
		    		 <if test="unit_id!=null   and unit_id.length() &gt;0">
						and PC_CBS_CONTRACT.UNIT_ID = #{unit_id}
					</if> 
					<if test="contractor_id!=null   and contractor_id.length() &gt;0">
						and PC_CBS_CONTRACT.CONTRACTOR_ID = #{contractor_id}
					</if>  
					order by PC_CBS_CONTRACT.ENTRY_TIME DESC,PC_CBS_CONTRACT.CONTRACT_ID
					) A	
</select>

<!-- 模糊查询 -->
<select id="select" parameterType="com.cyrj.jxzy.entity.Constractor.CommitmentViewEntity"  resultType="com.cyrj.jxzy.entity.Constractor.CommitmentViewEntity"   >
SELECT * from(
   SELECT A.* ,rownum row_num,
       CASE WHEN  C.CONTRACT_ID is NOT NULL THEN '是' ELSE '否' END if_dy ,
        CASE WHEN  F.CONTRACT_ID is NOT NULL THEN '是' ELSE '否' END if_sc 
      FROM(
					SELECT
					PC_CBS_CONTRACT.CONTRACT_ID,
					PC_CBS_CONTRACT.CONTRACTOR_NAME,
					PC_CBS_CONTRACT.CONTRACTOR_ID,
					PC_CBS_CONTRACT.CONTRACT_NAME,
					PC_CBS_CONTRACT.CONTRACT_NUMBER,
					PC_CBS_CONTRACT.CONSTRUCTION_PROJECT,
					PC_CBS_CONTRACT.UNIT_NAME ,
					PC_CBS_CONTRACT.ENTRY_TIME 
					FROM PC_CBS_CONTRACT 
					WHERE  PC_CBS_CONTRACT.oilfield=#{oilfield} and AUDITTAB='2' and   to_char(PC_CBS_CONTRACT.EFFECTIVE_DATE,'yyyy') = #{effective_dates}
		        	<if test="attribute!=null   and attribute.length() &gt;0 and attribute==1">
						and PC_CBS_CONTRACT.CONTRACTOR_ID like #{search}||'%'
					</if> 
					<if test="attribute!=null   and attribute.length() &gt;0 and attribute==2">
						and PC_CBS_CONTRACT.UNIT_ID like #{search}||'%'
					</if> 
		    		 <if test="unit_id!=null   and unit_id.length() &gt;0">
						and PC_CBS_CONTRACT.UNIT_ID = #{unit_id}
					</if> 
					<if test="contractor_id!=null   and contractor_id.length() &gt;0">
						and PC_CBS_CONTRACT.CONTRACTOR_ID = #{contractor_id}
					</if> 			
					order by PC_CBS_CONTRACT.ENTRY_TIME DESC,PC_CBS_CONTRACT.CONTRACT_ID
					) A
					 LEFT JOIN (SELECT * from PC_CBS_TEXT where PC_CBS_TEXT.TYPE=#{filetype} ) C  
					 ON C.CONTRACT_ID =A.CONTRACT_ID  
                     LEFT JOIN ( SELECT * from PC_CBS_UPLOAD_FILES WHERE PC_CBS_UPLOAD_FILES.FILETYPE =#{filetype} ) F 
                     ON  F.CONTRACT_ID =A.CONTRACT_ID 				   
					)
               where 	row_num &lt;=#{endRow} and row_num	&gt;= #{startRow}

</select>
<!-- 浏览打印实体查询 -->
<select id="getPrint" parameterType="com.cyrj.jxzy.entity.Constractor.CommitmentViewEntity" resultType="com.cyrj.jxzy.entity.Constractor.CommitmentViewEntity">
 
    	SELECT
	PC_CBS_CONTRACT.CONTRACT_ID,
	PC_CBS_CONTRACT.CONTRACTOR_NAME,
	PC_CBS_CONTRACT.CONSTRUCTION_PROJECT,
	PC_CBS_CONTRACT.UNIT_NAME,
	PC_CBS_CONTRACT.EFFECTIVE_DATE,
	to_char(EFFECTIVE_DATE,'yyyy-mm-dd')EFFECTIVE_DATES
	FROM
	PC_CBS_CONTRACT
	WHERE PC_CBS_CONTRACT.CONTRACT_ID=#{contract_id}
</select>
<!-- 根据id查询 -->
<select id="selectById" parameterType="com.cyrj.jxzy.entity.Constractor.CommitmentViewEntity"  resultType="com.cyrj.jxzy.entity.Constractor.CommitmentViewEntity" >
 select * from PC_CBS_CONTRACT  where id =#{id} </select>
<!-- 根据id删除 -->
<delete id="deleteParam" parameterType="com.cyrj.jxzy.entity.Constractor.CommitmentViewEntity"     >
delete from PC_CBS_CONTRACT where id=#{id} 
</delete>
<!-- 插入数据 -->
 <insert id="insert" parameterType="com.cyrj.jxzy.entity.Constractor.CommitmentViewEntity"    >
insert into
PC_CBS_CONTRACT(
reserve1,
reserve2,
oilfield,
contract_id,
contractor_name,
contractor_id,
construction_project,
contract_name,
contract_number,
contract_source,
operation_start_date,
completion_date,
workload,
money,
whether_to_perform,
entry_time,
input_person,
effective_date,
unit_name,
unit_id,
if_bg,
contract_other,
ejdwmc,
wgqr_time,
wgqrr,
audittab,
auditremark,
auditperson,
audittime,
tax_rate
)
values(
#{reserve1,jdbcType=VARCHAR},
#{reserve2,jdbcType=VARCHAR},
#{oilfield,jdbcType=VARCHAR},
#{contract_id,jdbcType=VARCHAR},
#{contractor_name,jdbcType=VARCHAR},
#{contractor_id,jdbcType=VARCHAR},
#{construction_project,jdbcType=VARCHAR},
#{contract_name,jdbcType=VARCHAR},
#{contract_number,jdbcType=VARCHAR},
#{contract_source,jdbcType=VARCHAR},
#{operation_start_date,jdbcType=VARCHAR},
#{completion_date,jdbcType=VARCHAR},
#{workload,jdbcType=INTEGER},
#{money,jdbcType=VARCHAR},
#{whether_to_perform,jdbcType=VARCHAR},
#{entry_time,jdbcType=VARCHAR},
#{input_person,jdbcType=VARCHAR},
#{effective_date,jdbcType=VARCHAR},
#{unit_name,jdbcType=VARCHAR},
#{unit_id,jdbcType=VARCHAR},
#{if_bg,jdbcType=VARCHAR},
#{contract_other,jdbcType=VARCHAR},
#{ejdwmc,jdbcType=VARCHAR},
#{wgqr_time,jdbcType=VARCHAR},
#{wgqrr,jdbcType=VARCHAR},
#{audittab,jdbcType=VARCHAR},
#{auditremark,jdbcType=VARCHAR},
#{auditperson,jdbcType=VARCHAR},
#{audittime,jdbcType=VARCHAR},
#{tax_rate,jdbcType=VARCHAR}
)
</insert><!-- 更新修改 -->
<update id="update" parameterType="com.cyrj.jxzy.entity.Constractor.CommitmentViewEntity"    >
 update PC_CBS_CONTRACT 
 set 
reserve1=#{reserve1,jdbcType=VARCHAR},
reserve2=#{reserve2,jdbcType=VARCHAR},
oilfield=#{oilfield,jdbcType=VARCHAR},
contract_id=#{contract_id,jdbcType=VARCHAR},
contractor_name=#{contractor_name,jdbcType=VARCHAR},
contractor_id=#{contractor_id,jdbcType=VARCHAR},
construction_project=#{construction_project,jdbcType=VARCHAR},
contract_name=#{contract_name,jdbcType=VARCHAR},
contract_number=#{contract_number,jdbcType=VARCHAR},
contract_source=#{contract_source,jdbcType=VARCHAR},
operation_start_date=to_date('${operation_start_date}','YYYY-MM-DD hh24:mi:ss'),
completion_date=to_date('${completion_date}','YYYY-MM-DD hh24:mi:ss'),
workload=#{workload,jdbcType=INTEGER},
money=#{money,jdbcType=VARCHAR},
whether_to_perform=#{whether_to_perform,jdbcType=VARCHAR},
entry_time=to_date('${entry_time}','YYYY-MM-DD hh24:mi:ss'),
input_person=#{input_person,jdbcType=VARCHAR},
effective_date=to_date('${effective_date}','YYYY-MM-DD hh24:mi:ss'),
unit_name=#{unit_name,jdbcType=VARCHAR},
unit_id=#{unit_id,jdbcType=VARCHAR},
if_bg=#{if_bg,jdbcType=VARCHAR},
contract_other=#{contract_other,jdbcType=VARCHAR},
ejdwmc=#{ejdwmc,jdbcType=VARCHAR},
wgqr_time=to_date('${wgqr_time}','YYYY-MM-DD hh24:mi:ss'),
wgqrr=#{wgqrr,jdbcType=VARCHAR},
audittab=#{audittab,jdbcType=VARCHAR},
auditremark=#{auditremark,jdbcType=VARCHAR},
auditperson=#{auditperson,jdbcType=VARCHAR},
audittime=to_date('${audittime}','YYYY-MM-DD hh24:mi:ss'),
tax_rate=to_date('${tax_rate}','YYYY-MM-DD hh24:mi:ss')
 where ----=#{-----}</update></mapper>