<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyrj.jxzy.dao.Constractor.DwzzDao">



    <select id="select1" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        SELECT ANNEX_NAME ffbm FROM (
        SELECT ANNEX_NAME,ROWNUM FROM (
        select ANNEX_NAME from PC_CBS_ANNEX WHERE PARENT_ID='FJ20181224170800035438' AND OILFIELD=#{oilfield} and
        TAB='1'
        ORDER BY LRSJ DESC )) WHERE ROWNUM=1
    </select>

    <select id="select2" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        select sjid from PC_CBS_QUALIFICATION_INFO
        <where>
            audit_tab in ('5','0','1','3')
            <if test="sjid!=null   and sjid.length() &gt;0">
                and sjid != #{sjid}
            </if>
            <if test="termid!=null   and termid.length() &gt;0">
                and termid = #{termid}
            </if>
        </where>
    </select>

    <select id="select5" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        SELECT
        A .sjid,
        A .dwlbid,
        A .dwmc,
        A .dwdm,
        A .unitname,
        A .termname,
        A .termid,
        A .dwlb,
        A .bh,
        A .dwzzbh,
        A .jl,
        A .dh,
        A .yxq1,
        TO_CHAR (A .yxq1, 'YYYY-MM-DD') syxq1,
        A .yxq2,
        TO_CHAR (A .yxq2, 'YYYY-MM-DD') syxq2,
        A .ffbm,
        A .sgxm,
        A .sgqy,
        A .dwzzdj,
        A .bz,
        A .audit_tab,
        A .lrr,
        A .lrsj,
        A .shr,
        A .shsj
        FROM
        PC_CBS_QUALIFICATION_INFO A
        <where>
            <if test="sjid!=null   and sjid.length() &gt;0">
                sjid = #{sjid}
            </if>
        </where>
    </select>
    <select id="select10" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        SELECT TO_CHAR (PC_CBS_QUALIFICATION_INFO.yxq1,'YYYY') syxq1, AUDIT_TAB, sjid
        FROM PC_CBS_QUALIFICATION_INFO
        <where>
            oilfield = #{oilfield} AND AUDIT_TAB = '2'
            <if test="termid!=null   and termid.length() &gt;0">
                and termid = #{termid}
            </if>
        </where>
    </select>


    <select id="countA1" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity" resultType="int">
        SELECT count(*) from PC_CBS_QUALIFICATION_INFO
        <where>
            <if test="termid!=null   and termid.length() &gt;0">
                termid = #{termid}
            </if>
        </where>
    </select>
    <select id="countA7" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity" resultType="int">
        SELECT COUNT (*)  FROM  PC_CBS_QUALIFICATION_INFO A  where A .oilfield = #{oilfield} AND A.audit_tab IN ('3' ,'5')  and A .termid = #{termid}
    </select>


    <select id="select3" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        SELECT * from(
        SELECT A.* ,rownum row_num from (
        SELECT
        A .sjid,
        A .dwmc,
        A .dwdm,
        A .unitname,
        A .termname,
        A .termid,
        A .dwlb,
        A .bh,
        A .dwzzbh,
        A .jl,
        A .dh,
        A .yxq1,
        A .yxq2,
        TO_CHAR (A .YXQ1, 'YYYY-MM-DD') SYXQ1,
        TO_CHAR (A .YXQ2, 'YYYY-MM-DD') SYXQ2,
        A .ffbm,
        A .sgxm,
        A .sgqy,
        A .dwzzdj,
        A .bz,
        A .dwlbid,
        A .audit_tab,
        A .lrr,
        A .lrsj,
        A .shr,
        A .shsj,
        NVL(ABOLISH_TAB,'1')ABOLISH_TAB
        FROM
        PC_CBS_QUALIFICATION_INFO A
        <where>
            A .oilfield = #{oilfield}
            <if test="dwdm!=null and dwdm.length() &gt;0">
                and A .dwdm = #{dwdm}
            </if>
            <if test="audit_tab!=null and audit_tab.length() &gt;0">
                and A .audit_tab = #{audit_tab}
            </if>
        </where>
        ) A )
        where row_num &lt;=#{endRow} and row_num &gt;= #{startRow}
    </select>

    <select id="select4" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        SELECT * from(
        SELECT A.* ,rownum row_num from (
        SELECT
        A .sjid,
        A .dwlbid,
        A .dwmc,
        A .dwdm,
        A .unitname,
        A .termname,
        A .termid,
        A .dwlb,
        A .bh,
        A .dwzzbh,
        A .jl,
        A .dh,
        TO_CHAR (A .YXQ1, 'YYYY-MM-DD') SYXQ1,
        TO_CHAR (A .YXQ2, 'YYYY-MM-DD') SYXQ2,
        A .ffbm,
        A .sgxm,
        A .sgqy,
        A .dwzzdj,
        A .audit_tab,
        A .lrr,
        A .lrsj,
        A .shr,
        A .shsj
        FROM
        PC_CBS_QUALIFICATION_INFO A
        <where>
            A .oilfield = #{oilfield} and A .audit_tab in ('1','3')
            <if test="dwdm!=null and dwdm.length() &gt;0">
                and A .dwdm = #{dwdm}
            </if>
        </where>
        ORDER BY
        A .lrsj DESC
        ) A )
        where row_num &lt;=#{endRow} and row_num &gt;= #{startRow}
    </select>

    <select id="select6" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        SELECT * from(
        SELECT A.* ,rownum row_num from (
        SELECT
        TO_CHAR (
        PC_CBS_QUALIFICATION_INFO.yxq1,
        'YYYY'
        ) syxq1,
        AUDIT_TAB,
        sjid
        FROM
        PC_CBS_QUALIFICATION_INFO
        <where>
            A .oilfield = #{oilfield} and A .audit_tab = '2'
            <if test="termid!=null   and termid.length() &gt;0">
                and termid = #{termid}
            </if>
        </where>
        ) A )
        where row_num &lt;=#{endRow} and row_num &gt;= #{startRow}
    </select>
    <select id="select7" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        SELECT * from(
        SELECT A.* ,rownum row_num from (
        SELECT
        A .sjid,
        A .dwlbid,
        A .dwmc,
        A .dwdm,
        A .unitname,
        A .termname,
        A .termid,
        A .dwlb,
        A .bh,
        A .dwzzbh,
        A .jl,
        A .dh,
        TO_CHAR (A .YXQ1, 'YYYY-MM-DD') SYXQ1,
        TO_CHAR (A .YXQ2, 'YYYY-MM-DD') SYXQ2,
        A .ffbm,
        A .sgxm,
        A .sgqy,
        A .dwzzdj,
        A .audit_tab,
        A .lrr,
        A .lrsj,
        A .shr,
        A .shsj,
        A .bz
        FROM
        PC_CBS_QUALIFICATION_INFO A
        <where>
            A .oilfield = #{oilfield} and A .audit_tab = #{audit_tab}
            <if test="dwdm!=null and dwdm.length() &gt;0">
                and A .dwdm = #{dwdm}
            </if>
        </where>
        ORDER BY
        A .lrsj DESC
        ) A )
        where row_num &lt;=#{endRow} and row_num &gt;= #{startRow}
    </select>
    <select id="select8" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        SELECT * from(
        SELECT A.* ,rownum row_num from (
        SELECT
        A .sjid,
        A .dwlbid,
        A .dwmc,
        A .dwdm,
        A .unitname,
        A .termname,
        A .termid,
        A .dwlb,
        A .bh,
        A .dwzzbh,
        A .jl,
        A .dh,
        TO_CHAR (A .YXQ1, 'YYYY-MM-DD') SYXQ1,
        TO_CHAR (A .YXQ2, 'YYYY-MM-DD') SYXQ2,
        A .ffbm,
        A .sgxm,
        A .sgqy,
        A .dwzzdj,
        A .audit_tab,
        A .lrr,
        A .lrsj,
        A .shr,
        A .shsj,
        A .bz
        FROM
        PC_CBS_QUALIFICATION_INFO A
        <where>
            A .oilfield = #{oilfield} and A .audit_tab IN ('0' ,'5')
            <if test="dwdm!=null and dwdm.length() &gt;0">
                and A .dwdm = #{dwdm}
            </if>
        </where>
        ORDER BY
        A .lrsj DESC
        ) A )
        where row_num &lt;=#{endRow} and row_num &gt;= #{startRow}
    </select>

    <select id="select9" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        SELECT * from(
        SELECT A.* ,rownum row_num from (
        SELECT
        A .sjid,
        A .dwmc,
        A .dwdm,
        A .unitname,
        A .termname,
        A .termid,
        A .dwlb,
        A .bh,
        A .dwzzbh,
        A .jl,
        A .dh,
        A .yxq1,
        A .yxq2,
        TO_CHAR (A .YXQ1, 'YYYY-MM-DD') SYXQ1,
        TO_CHAR (A .YXQ2, 'YYYY-MM-DD') SYXQ2,
        A .ffbm,
        A .sgxm,
        A .sgqy,
        A .dwzzdj,
        A .bz,
        A .dwlbid,
        A .audit_tab,
        A .lrr,
        A .lrsj,
        A .shr,
        A .shsj
        FROM
        PC_CBS_QUALIFICATION_INFO A
        <where>
            A .oilfield = #{oilfield} and A .audit_tab ='2'
            <if test="dwdm!=null and dwdm.length() &gt;0">
                and A .dwdm = #{dwdm}
            </if>
            <if test="dwmc!=null and dwmc.length() &gt;0">
                <bind name="dwmc" value="'%'+ dwmc + '%'"/>
                and dwmc like #{dwmc}
            </if>
            <if test="unitname !=null and unitname .length() &gt;0">
                <bind name="unitname" value="'%' + unitname + '%'"/>
                and unitname like #{unitname}
            </if>
        </where>
        ) A )
        where row_num &lt;=#{endRow} and row_num &gt;= #{startRow}
    </select>


    <select id="countA2" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="int">
        SELECT count(*) from (SELECT
        A .sjid,
        A .dwmc,
        A .dwdm,
        A .unitname,
        A .termname,
        A .termid,
        A .dwlb,
        A .bh,
        A .dwzzbh,
        A .jl,
        A .dh,
        A .yxq1,
        A .yxq2,
        TO_CHAR (A .YXQ1, 'YYYY-MM-DD') SYXQ1,
        TO_CHAR (A .YXQ2, 'YYYY-MM-DD') SYXQ2,
        A .ffbm,
        A .sgxm,
        A .sgqy,
        A .dwzzdj,
        A .bz,
        A .dwlbid,
        A .audit_tab,
        A .lrr,
        A .lrsj,
        A .shr,
        A .shsj
        FROM
        PC_CBS_QUALIFICATION_INFO A
        <where>
            oilfield = #{oilfield}
            <if test="dwdm!=null and dwdm.length() &gt;0">
                and dwdm = #{dwdm}
            </if>
            <if test="audit_tab!=null and audit_tab.length() &gt;0">
                and audit_tab = #{audit_tab}
            </if>
        </where>
        )
    </select>

    <select id="countA3" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="int">
        SELECT count(*) from (SELECT
        A .sjid,
        A .dwlbid,
        A .dwmc,
        A .dwdm,
        A .unitname,
        A .termname,
        A .termid,
        A .dwlb,
        A .bh,
        A .dwzzbh,
        A .jl,
        A .dh,
        TO_CHAR (A .YXQ1, 'YYYY-MM-DD') SYXQ1,
        TO_CHAR (A .YXQ2, 'YYYY-MM-DD') SYXQ2,
        A .ffbm,
        A .sgxm,
        A .sgqy,
        A .dwzzdj,
        A .audit_tab,
        A .lrr,
        A .lrsj,
        A .shr,
        A .shsj
        FROM
        PC_CBS_QUALIFICATION_INFO A
        <where>
            oilfield = #{oilfield} and A .audit_tab in ('1','3')
            <if test="dwdm!=null and dwdm.length() &gt;0">
                and dwdm = #{dwdm}
            </if>
        </where>
        )
    </select>
    <select id="countA4" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="int">
        SELECT count(*) from (SELECT
        A .sjid,
        A .dwlbid,
        A .dwmc,
        A .dwdm,
        A .unitname,
        A .termname,
        A .termid,
        A .dwlb,
        A .bh,
        A .dwzzbh,
        A .jl,
        A .dh,
        TO_CHAR (A .YXQ1, 'YYYY-MM-DD') SYXQ1,
        TO_CHAR (A .YXQ2, 'YYYY-MM-DD') SYXQ2,
        A .ffbm,
        A .sgxm,
        A .sgqy,
        A .dwzzdj,
        A .audit_tab,
        A .lrr,
        A .lrsj,
        A .shr,
        A .shsj
        FROM
        PC_CBS_QUALIFICATION_INFO A
        <where>
            A .oilfield = #{oilfield} and A .audit_tab = #{audit_tab}
            <if test="dwdm!=null and dwdm.length() &gt;0">
                and A .dwdm = #{dwdm}
            </if>
        </where>
        )
    </select>

    <select id="countA5" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="int">
        SELECT count(*) from (SELECT
        A .sjid,
        A .dwlbid,
        A .dwmc,
        A .dwdm,
        A .unitname,
        A .termname,
        A .termid,
        A .dwlb,
        A .bh,
        A .dwzzbh,
        A .jl,
        A .dh,
        TO_CHAR (A .YXQ1, 'YYYY-MM-DD') SYXQ1,
        TO_CHAR (A .YXQ2, 'YYYY-MM-DD') SYXQ2,
        A .ffbm,
        A .sgxm,
        A .sgqy,
        A .dwzzdj,
        A .audit_tab,
        A .lrr,
        A .lrsj,
        A .shr,
        A .shsj
        FROM
        PC_CBS_QUALIFICATION_INFO A
        <where>
            A .oilfield = #{oilfield} and A .audit_tab IN ('0' ,'5')
            <if test="dwdm!=null and dwdm.length() &gt;0">
                and A .dwdm = #{dwdm}
            </if>
        </where>
        )
    </select>

    <select id="countA6" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="int">
        SELECT count(*) from (SELECT
        A .sjid,
        A .dwmc,
        A .dwdm,
        A .unitname,
        A .termname,
        A .termid,
        A .dwlb,
        A .bh,
        A .dwzzbh,
        A .jl,
        A .dh,
        A .yxq1,
        A .yxq2,
        TO_CHAR (A .YXQ1, 'YYYY-MM-DD') SYXQ1,
        TO_CHAR (A .YXQ2, 'YYYY-MM-DD') SYXQ2,
        A .ffbm,
        A .sgxm,
        A .sgqy,
        A .dwzzdj,
        A .bz,
        A .dwlbid,
        A .audit_tab,
        A .lrr,
        A .lrsj,
        A .shr,
        A .shsj
        FROM
        PC_CBS_QUALIFICATION_INFO A
        <where>
            A .oilfield = #{oilfield} and A .audit_tab = '2'
            <if test="dwdm!=null and dwdm.length() &gt;0">
                and A .dwdm = #{dwdm}
            </if>
        </where>
        )
    </select>


    <update id="update1" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        begin
        delete from PC_CBS_QUALIFICATION_INFO where sjid = #{sjid};
        delete from PC_CBS_QUALIFICATION_EQU where sjid = #{sjid};
        delete from PC_CBS_QUALIFICATION_PERSON where sjid = #{sjid};
        end;
        <!-- 	update PC_CBS_QUALIFICATION_INFO  set AUDIT_TAB ='6'  -->
        <!-- 	<where> -->
        <!--       sjid = #{sjid}      -->
        <!--  </where> -->
    </update>
    <update id="update2" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
	UPDATE PC_CBS_QUALIFICATION_INFO
SET AUDIT_TAB = '4'
where 
oilfield = #{oilfield}  
AND termid = #{termid} 
 AND AUDIT_TAB = '2'   

</update>
    <update id="update3" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
	UPDATE PC_CBS_QUALIFICATION_INFO
	SET AUDIT_TAB =#{audit_tab} ,
	bz = #{bz,jdbcType=VARCHAR} ,
	shr =#{shr} ,
	shsj = SYSDATE,
	YXQ1=to_date(#{syxq1},'yyyy-MM-dd'),
    YXQ2=to_date(#{syxq2},'yyyy-MM-dd'),
	FFBM=#{ffbm},
	SGQY=#{sgqy},
	SGXM=#{sgxm}
	where 		sjid = #{sjid}
</update>

    <!-- 代码自动生成，请核对数据类型 -->
    <!-- 查询 -->
    <select id="select" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity"
            resultType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
        select
        reserve1,
        reserve2,
        reserve3,
        sjid,
        dwmc,
        dwdm,
        unitname,
        termname,
        termid,
        dwlb,
        bh,
        dwzzbh,
        jl,
        dh,
        yxq1,
        yxq2,
        ffbm,
        sgxm,
        sgqy,
        dwzzdj,
        bz,
        dwlbid,
        audit_tab,
        lrr,
        lrsj,
        shr,
        shsj
        from PC_CBS_QUALIFICATION_INFO
        <where>
            <if test="design_id!=null and design_id.length() &gt;0">
                design_id = #{design_id} and code_state is null
            </if>
        </where>
    </select>
    <!-- 根据id删除 -->
    <delete id="deleteParam" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
delete from PC_CBS_QUALIFICATION_INFO 
where sjid = #{sjid} 
</delete>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
insert into
PC_CBS_QUALIFICATION_INFO(
reserve1,
reserve2,
reserve3,
sjid,
dwmc,
dwdm,
unitname,
termname,
termid,
dwlb,
bh,
dwzzbh,
jl,
dh,
yxq1,
yxq2,
ffbm,
sgxm,
sgqy,
dwzzdj,
bz,
dwlbid,
audit_tab,
lrr,
lrsj,
oilfield
)
values(
#{reserve1,jdbcType=VARCHAR},
#{reserve2,jdbcType=VARCHAR},
#{reserve3,jdbcType=VARCHAR},
#{sjid,jdbcType=VARCHAR},
(SELECT PC_CBS_COMPANY.DWMC dwmc FROM PC_CBS_COMPANY WHERE PC_CBS_COMPANY.dwdm = #{dwdm} ),
#{dwdm,jdbcType=VARCHAR},
(SELECT PC_SYS_UNIT_CODE.UNITNAME unitname FROM PC_SYS_UNIT_CODE WHERE PC_SYS_UNIT_CODE.ID = #{dwdm} ),
(SELECT PC_SYS_UNIT_CODE.UNITNAME termname FROM PC_SYS_UNIT_CODE WHERE PC_SYS_UNIT_CODE.ID = #{termid} ),
#{termid,jdbcType=VARCHAR},
(SELECT  ANNEX_NAME dwlb FROM PC_CBS_ANNEX where  id = #{dwlbid} and oilfield=#{oilfield}),
#{bh,jdbcType=VARCHAR},
#{dwzzbh,jdbcType=VARCHAR},
#{jl,jdbcType=VARCHAR},
#{dh,jdbcType=VARCHAR},
to_date('${syxq1}','yyyy-MM-dd'),
to_date('${syxq2}','yyyy-MM-dd'),
(SELECT  ANNEX_NAME ffbm FROM PC_CBS_ANNEX where  id = 'FJ20181224170900038213' and oilfield=#{oilfield}),
#{sgxm,jdbcType=VARCHAR},
#{sgqy,jdbcType=VARCHAR},
#{dwzzdj,jdbcType=VARCHAR},
#{bz,jdbcType=VARCHAR},
#{dwlbid,jdbcType=VARCHAR},
#{audit_tab,jdbcType=VARCHAR},
#{lrr,jdbcType=VARCHAR},
sysdate,
#{oilfield,jdbcType=VARCHAR}
)
</insert>
    <update id="feichu" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
   update  PC_CBS_QUALIFICATION_INFO
   set ABOLISH_TAB='0',
        ABOLISH_TIME=sysdate
        where SJID=#{sjid}
</update>
    <update id="jiechu" parameterType="com.cyrj.jxzy.entity.Constractor.DwzzEntity">
   update  PC_CBS_QUALIFICATION_INFO
   set ABOLISH_TAB='1',
        RELIEVE_TIME=sysdate
        where SJID=#{sjid}
</update>
</mapper>